# Virtual environment
venv/
.venv/
env/
ENV/

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Environment / Secret variables
.env
.env.local

# Operating System files
.DS_Store
Thumbs.db
desktop.ini

# IDE & Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
